.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
}

a:link {
  color: #686A6C;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #686A6C;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: green;
  background-color: transparent;
  text-decoration: none;
}


.App-header {
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #686A6C;
  font-family: monospace;
  

}

.loading {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
